
body {
	margin: auto ; /*gets rid of all space
	around page except bottom*/
	font-family: "Caslon", serif;
	color: white ;
	background-color: black ;
}

p {
	margin:auto;
}

header h1, h2{
	text-align:right;}

header h1{
		font-size:0px;
		visibility: hidden ;
	}



header h1::before{
		content:"CSS";
		visibility: visible ;
		font-size: 72px ;
		font-weight: 200 ;
		display: block ;
		
	}


header h2{visibility: hidden ;
	font-size: 0px ;
}

header h2::before{
	content:"Zen Garden";
	font-size:25px;
	display:block;
	margin-top:-15px;
	margin-bottom:7px;
	font-style: italic ;
	visibility: visible
}

.summary {
	font-size: 14px ;
	line-height: 30px ;
	text-align: right ;
	width: 40% ;
	border-right: 5px solid green ;
	background-color: #525252 ;
}

.preamble::before{
	content:"The Beauty of CSS Design";
	font-size: 30px ;
	font-style: italic ;
}

.preamble p{
	font-size: 10px ;
}

.preamble h3 {
	font-size: 12px ;
}

.main p{font-size: 10px;}

.main h3 {
	font-size: 12px ;
}

/* Trying to set up joint 
sections in different sides of the page.
This didn't work, but I'll tweak it later

header, .summary { 
	float: left ;
	width: 25% ;
}


.preamble {
	float: right ;
}
*/

.preamble {
	float: right ;
	/*clear: both;*/
	width: 55% ;
	background-color: grey ;
	/*margin-top: 30px ;*/
}

.main {
	width: 60% ;
	float: right ;
	background-color: grey ;
	margin-top: 5px ; /*original margin was -27 */
	
}

header {
	float: left;
	width: 40% ;
}


/*.complementary {
	float: left;
	clear: left ;
}*/

.design-selection, .design-archives, .zen-resources {
	text-align: right ;
	/*background-color: grey ; 
	border-top: 2px solid red;
	border-bottom: 2px solid red;  not sure I'll use this color or border*/
	margin: 10px 0px 10px 0px ;
}

ul {
	list-style: none ;
}

.preamble {
	position: absolute;
	left: 45% ;
	top: 0;
}

.sidebar {
	width: 40% ;
	border-right: 5px solid green ;
	margin-top: -20px;
	font-size: 1em ;
	background-color: #525252 ;
}

.sidebar::before {
	content: "space" ;
	visibility: hidden ;
	font-size: 20px ;
}






