body {
	margin: auto ; /*gets rid of all space
	around page except bottom*/
	font-family: "Caslon", serif;
	color: white ;
	background-color: grey ;

	/*width:100%;*/
}

a {
	text-decoration: none;
}

p {
	margin:auto;
}

header h1, h2{
	text-align:right;
	}

header h1{
		font-size:0px;
		visibility: hidden ;
	}



header h1::before{
		content:"CSS";
		visibility: visible ;
		font-size: 72px ;
		font-weight: 200 ;
		display: block ;
		
	}


header h2{visibility: hidden ;
	font-size: 0px ;
}

header h2::before{
	content:"Zen Garden";
	font-size:25px;
	display:block;
	margin-top:-15px;
	margin-bottom:7px;
	font-style: italic ;
	visibility: visible
}
header {
	float:left;
	width: 300px;
	background-color: #525252 ;
	padding-right: 10px ;
}

.summary {
	float: left ;
	clear: left;
	width: 300px ;
	font-size: 14px ;
	line-height: 30px ;
	text-align: right ;
	background-color: #525252 ;
	padding-right: 10px ;

}

.design-selection, .design-archives, .zen-resources {
	text-align: right ;
	width: 300px;
	/*background-color: grey ; 
	border-top: 2px solid red;
	border-bottom: 2px solid red;  not sure I'll use this color or border*/
	float: left;
	display:block;
	clear: left;
	background-color: #525252 ;
	padding-right: 10px ;
}

.zen-resources {
	padding-bottom: 400px ;
}

ul {
	list-style: none ;
}

li {
	font-size: 13px ;
}

.preamble::before {
	position: absolute;
	content:" The Beauty Of CSS Design";
	background: url(banner.png);
	background-color: black;
	background-size: 1050px 120px;
	background-repeat: no-repeat;
	display:block;
	width:950px;
	height: 90px ;
	/*max-width:1366px; how does this work? */
	left: -90px ;
	top:-150px;
	font-size: 2em ;
	padding: 30px 0px 0px 100px;


}

.preamble {
	position:absolute;
	top:150px;
	width: 550px;
	left: 400px ;
	background-color: grey;

	/* height is 184px */

}

.main {
	position: absolute;
	width: 800px ;
	top:334px;
	left: 400px;
	background-color: grey;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    padding-right: 30px ;

}

.explanation h3 {
	-webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}


footer {
	position:absolute;
	background-color: black;
	font-size:2em;
	text-align:center;
	width:1050px;
	left:-90px;
	margin-top:10px;
}

a:link {
	color:white;
}

a:hover {
	color: blue;
}

footer a {
	padding: 0px 10px 0px 10px;
}